.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
}

.title {
    color: var(--vkui--color_text_primary);
}

.author {
    color: var(--vkui--color_text_secondary);
}

.date {
    color: var(--vkui--color_text_secondary);
}

.rating {
    color: var(--vkui--color_text_secondary);
}